<p id="notice"><%= notice %></p>

<h1>Listing Gstations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Rating</th>
      <th>Queue</th>
      <th>Gasavail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gstations.each do |gstation| %>
      <tr>
        <td><%= gstation.name %></td>
        <td><%= gstation.lat %></td>
        <td><%= gstation.lon %></td>
        <td><%= gstation.rating %></td>
        <td><%= gstation.queue %></td>
        <td><%= gstation.gasavail %></td>
        <td><%= link_to 'Show', gstation %></td>
        <td><%= link_to 'Edit', edit_gstation_path(gstation) %></td>
        <td><%= link_to 'Destroy', gstation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gstation', new_gstation_path %>
